<h2>Editar Cadastro</h2>

<%= render 'form', register: @register %>
 
<%= link_to 'Mostrar', @register, class:"btn btn-success btn-sm text-white"%>| 
<%= link_to 'Voltar',registers_path, class:"btn btn-success btn-sm text-white"%>
